################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/toolsOfTrade/node_modules
/toolsOfTrade/.vs
/toolsOfTrade.pem
/toolsOfTrade.crx
/toolsOfTrade/package-lock.json
toolsOfTrade/content/folder.png
