body {
    width: 450px;
    height: 135px;
}

ul.leaf {
    list-style-image: url('/content/scholarship_16.png');
}

.big-box {
    line-break: normal;
    overflow: auto;
}
.btn-reset {
    display: flex;
    width: auto;
}

.folder {
    font-weight: bold;
    font-size: 1.1em;
    list-style-image: url('/content/folder_16.png');
}

.hideElem{
    display: none;
    flex-basis: 0;
    height: 0px;
}

.btn-proceed {
    display: flex;
    width: auto;
    position: relative;
    background-color: darkblue;
    color: whitesmoke;
    text-align: center;
}

.flex-row-container {
    display: flex;
}

.flex-row-spacer-btns {
    display: flex;
    flex: 3 1 150px;
}

.proceed-btn-urge{
    border: 2px;
    border-color: whitesmoke;
    font-weight: bold;
}
.clear-btn-urge{
    font-weight: bold;
    font-size: 1.07em;
}
